<?xml version="1.0" encoding="UTF-8"?>
<configurations>
	<config>
		<url>https://azuarq3ezwcrczrn8xapp.ecwcloud.com/mobiledoc/jsp/webemr/login/newLogin.jsp#/mobiledoc/jsp/webemr/webpm/claimLookup.jsp</url>
<username>jimmartin</username>
<password>!Ndian@193</password>
<excelName>Test Data - Adjustments.xlsx</excelName>
	</config>
</configurations>